<!-- templates/base.html -->

<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- visit https://fonts.google.com/specimen/Courier+Prime?preview.text_type=custom to get script -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Our own css -->
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    
    {% block extend_head %}
      <!-- This allows us to extend the head scripts in HTML docs that have special requirements -->
    {% endblock extend_head%}
    <!-- Title -->
    <title>CFi | {% block title %}Oefen applicatie{% endblock title %}</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
  </head>
  <body>
    <!-- Navbar -->
    {% include 'includes/navbar.html' %}
    <!-- Messages -->
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <!-- Content -->
    <div class="div-container">
      {% block content %}
        <!-- Used to add code to body -->
      {% endblock content%}
    </div>
     <!-- jquery JS -->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    {% block extend_foot %}
      <!-- This allows us to extend the foot scripts in HTML docs that have special requirements -->
    {% endblock extend_foot%}
  </body>
</html>